<h1><%= @movie.title %> のスケジュール</h1>

<% if @movie.schedules.any? %>
  <table>
    <thead>
      <tr>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.start_time %></td> <!-- 年が表示される -->
          <td><%= schedule.end_time %></td>
          <td><%= link_to '詳細', admin_schedule_path(schedule) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>スケジュールが設定されていません。</p>
<% end %>
